.select
{
    border-radius: 16px;
    border-style: groove;
    border-color: #fff;
    border-width: 5px;
    margin:6px;
    padding:3px;
    
}
#first>div,#exchange>div
{
    float:left;
}
#first
{

}
.select:hover
{
    border-color: #55a;
    background: rgba(255,255,255,0.2);
}

.checked
{
    border-radius: 16px;
    border-style: groove;
    border-color: #99f;
    border-width: 5px;
}
.checked2
{
    border-radius: 16px;
    border-style: groove;
    border-color: #9f9;
    border-width: 5px;
}

.high 
{
    color:#394;
    font-size:115%;
}
.higher
{
    color:#394;
    font-weight: bold;
    font-size:125%;
}
.low
{
    color:#943;
}

body 
{
    min-height: 100%;
    height: 100%;
}
.footer 
{
    margin-left: 10%;
    margin-right: 10%;
    height: 45px;
    margin-top: 50px;
    border-top:3px groove #eef;
    clear:both;
    padding-top: 9px;
    font-size: 11px;
    font-weight: bold;
    color:#111;
    text-align: center;
}