<!DOCTYPE html>
<html lang="en" ng-app ng-controller="appController"> 
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Custom Arbitrage Tables">
    <meta name="author" content="ilkeryasin">
    <link rel="shortcut icon" href="img/favicon.png">

    <title>Customizable Arbitrage Tables</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <link href="css/main.css?v=1.06" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.3/angular.min.js"></script>
     <script src="js/application.js?v=1.025"></script>
  </head>

  <body>

    <div class="container" style="min-height:100%;height:100%;">
      <div class="header" style="height:50px">
        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="donate.html">Donate</a></li>
          <li><a href="contact.html">Contact</a></li>
        </ul>
        <h3 class="text-muted">Custom Arbitrage Tables</h3>
      </div>

      <div class="container well">
        <div id="firstRow" class="row" style="padding-left:30px;margin-bottom:10px;">
          <h1 style="margin-bottom:25px;">Create your Table</h1>
          <p class="lead" style="margin:10px;"><span class="badge">1</span> First, select trading currency.</p>
          <p class="lead" style="margin:10px;margin-bottom:20px;"><span class="badge">2</span> Second, select base currency.</p>
          <div id="first">
            <div ng-repeat="currency in currencies" ng-click="select(currency.name)">
              <img class="select" ng-src="{{currency.logo}}" ng-class="{'checked': currency.name==first, 'checked2': currency.name==base}"  style="width:70px;height:70px"/>
              <div style="text-align:center;font-weight:bold;">{{currency.title}}</div>
            </div>
            <!-- <img id="btc" class="select" alt="BTC" src="img/btc.jpg" style="width:80px;height:80px">
            <img id="ltc" class="select" alt="LTC" src="img/ltc.jpg" style="width:80px;height:80px">
            <img id="nmc" class="select" alt="NMC" src="img/nmc.png" style="width:80px;height:80px">
            <img id="ppc" class="select" alt="PPC" src="img/ppc.png" style="width:80px;height:80px"> -->
          </div>
        </div>
        <div id="exchangeRow" class="row" ng-show="base" style="padding-left:30px;">
          <p class="lead" style="margin:10px;margin-bottom:20px;"><span class="badge">3</span> Select your exchanges</p>
          <div id="exchange">
            <div ng-repeat="e in currencyFilter(exchanges)" ng-click="selectLast(e.name)">
              <img class="select" ng-src="{{e.logo}}" ng-class="{'checked': e.buy}"  style="width:65px;height:65px"/>
              <div style="text-align:center;font-weight:bold;">{{e.title}}</div>
            </div>
            <!-- <img ng-src="{{e.logo}}" class="select" ng-class="{'checked': e.buy}" ng-repeat="e in currencyFilter(exchanges)" ng-click="selectLast(e.name)" style="width:60px;height:60px"/> -->
            <!-- <img id="mtgx" class="select" alt="Mt.Gox" src="img/mtgx.png" style="width:60px;height:60px">
            <img id="bstp" class="select" alt="BitStamp" src="img/btsp.png" style="width:60px;height:60px">
            <img id="btce" class="select" alt="Btc-e" src="img/btce.png" style="width:60px;height:60px"> -->
          </div>
          
        </div>
        
        <table class="row table" style="padding:20px;font-family:arial;" ng-show="base" style="margin-left:20px;">
          <tr><td><h2>{{(first+"/"+base).toUpperCase()}}</h2></td></tr>
          <tr><td>SELL \ BUY</td><td ng-repeat="ex in tableFilter(exchanges)"><b>{{ex.title}} - {{ex.buy}}</b></td></tr>
          <tr ng-repeat="e in tableFilter(exchanges)"><td><b>{{e.title}} - {{e.sell}}</b></td><td ng-repeat="i in tableFilter(exchanges)" ng-class="{'high': (e.sell-i.buy)>0,'low': (e.sell-i.buy)<0,'higher': ((e.sell-i.buy)/i.buy)>0.01}">{{ (e.sell - i.buy).toFixed(4)}} {{ base.toUpperCase() }} {{ ((e.sell-i.buy)*100/i.buy).toFixed(2) || "0" }}%</td></tr>
        </table>
      </div>
 
      <div class="row">
        <div class="col-sm-5 col-sm-offset-1">
          <h4>Easy Decision &amp; Trade</h4>
          <p>
            Qickly access arbitrage data between currencies and exchanges <br>
            Be selective and choose which data you want the most <br>
            Trade and earn
          </p>
        </div>
        <div class="col-sm-5 col-sm-offset-1">
          <h4>Responsive</h4>
          <p>
            CuArTa is developed interactively. We evolve together with the big wave, improve mutually. <br>
            Please contribute to us by your feedbacks and suggestions. 
          </p>
        </div>
      </div>
        <div class="row" style="text-align:center;margin-top:10px;">
          <h3 style="border-bottom:1px groove #333;margin-left:25%;margin-right:25%;width:50%;">Links</h3>
        </div>
        <div class="row" style="text-align:center;">
          <div class="col-md-1 col-md-offset-3">
            <a target="_blank" href="http://bitlucky.io" style="display:inline;">
              <img src="http://bitlucky.io/img/bitlucky.jpg" class="select" alt="BitLucky" style="height:70px;width:70px;">
              <div>BitLucky</div>
            </a>
          </div>
          <div class="col-md-1">
            <a target="_blank" href="https://bter.com/ref/10892" style="display:inline;">
              <img src="img/bter.png" class="select" alt="BTer" style="height:70px;width:70px;">
              <div>BTer</div>
            </a>
          </div>
          <div class="col-md-1">
            <a target="_blank" href="https://crypto-trade.com/ref/joesmoe" style="display:inline;">
              <img src="img/cryptotrade.png" class="select" alt="Crypto-Trade" style="height:70px;width:70px;">
              <div>CryptoTrade</div>
            </a>
          </div>
          <div class="col-md-1">
            <a target="_blank" href="http://www.okcoin.com/?invite=3251343" style="display:inline;">
              <img src="img/okcoin.png" class="select" alt="OkCoin" style="height:70px;width:70px;">
              <div>OkCoin</div>
            </a>
          </div>
          <div class="col-md-1">
            <a target="_blank" href="https://vircurex.com/welcome/index?referral_id=806-9148" style="display:inline;">
              <img src="img/vircurex.jpg" class="select" alt="Vircurex" style="height:70px;width:70px;">
              <div>Vircurex</div>
            </a>
          </div>
          <div class="col-md-1">
            <a target="_blank" href="https://CampBX.com/register.php?r=h0Qn9H4H9wF" style="display:inline;">
              <img src="img/campbx.png" class="select" alt="CampBX" style="height:70px;width:70px;">
              <div>CampBX</div>
            </a>
          </div>
        </div>
      </div>

      </div> <!-- /container -->
      <div class="footer">
        <p>&copy; CuArTa 2013</p>
      </div>

    
        <!-- Load JS here for greater good =============================-->
       <script src="js/vendor/jquery-1.10.2.min.js"></script>
       <script>
          window.timer = new Object();
        //   'http://btc-e.com/api/2/btc_usd/ticker', function(data) {
        //     // We can't use .return because return is a JavaScript keyword.
        //     alert(data['ticker'].buy);
        // });
       </script>

    
    

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
